body {
    background-color: lightgray;
    display: grid;
    grid-template-rows:  200px 100px 100px 100px 300px 300px 300px;
    grid-template-columns: 100%;
}

#ipad {
    display: none;
}

#keyboard {
    display: none;
}

#guy {
    display:none;
}

#security {
    display:none;
}

/*.jumbotron {*/
/*    background-image: url("logo.jpg");*/
/*    background-repeat: no-repeat;*/
/*   background-size: 105px 105px;*/
/*    grid-area: 1 / 1 / 1 / 1;*/
/*    align-content: center;*/
/*}*/

#box >img{
    align-content: center;
    /*justify-content: center;*/
    height: 150px;
    width: 150px;
    margin-top: -38px;
    /*display: flex;*/
    /*align-items: center;*/
    /*margin: -40px;*/
    /*margin-top: -20px;*/
    /*margin: auto;*/
    /*position: absolute;*/
     border-radius: 75px;


}

#box {

    /*position: relative;*/
    background-color: white;
    width: auto;
    height: 70px;
    margin-top: 70px;
    margin-bottom: 20px;
}


#header1 {
    font-family: 'Abel', sans-serif;
    text-align: center;
}

#header2 {
    font-family: 'Anton', sans-serif;
    text-align: center;
}

#city {
    text-align: center;
    font-family: 'Anton', sans-serif;
    padding-top: 20px;
}
#mobdot {
    display: inline-grid;
    justify-content: center;
    grid-template-columns: 170px 170px;
    grid-row-gap: 10px;

}


/*.dot {*/
/*    align-content: center;*/
/*    height:150px;*/
/*    width: 150px;*/
/*    display: inline-block;*/
/*    border-radius: 70%;*/
/*    border: white 8px solid;*/
/*    text-align: center;*/
/*    padding-top: 50px;*/
/*    vertical-align: center;*/
/*    font-family: 'Anton', sans-serif;*/
/*    color: white;*/
/*}*/

#red-dot {
    background-color: #E6563B;
    align-content: center;
    height:150px;
    width: 150px;
    display: inline-block;
    border-radius: 70%;
    border: white 8px solid;
    text-align: center;
    padding-top: 50px;
    vertical-align: center;
    font-family: 'Anton', sans-serif;
    color: white;
}

#yellow-dot {
    background-color: #EB9D3A;
    align-content: center;
    height:150px;
    width: 150px;
    display: inline-block;
    border-radius: 70%;
    border: white 8px solid;
    text-align: center;
    padding-top: 50px;
    vertical-align: center;
    font-family: 'Anton', sans-serif;
    color: white;
}

#green-dot {
    background-color: #7CB06C;
    align-content: center;
    height:150px;
    width: 150px;
    display: inline-block;
    border-radius: 70%;
    border: white 8px solid;
    text-align: center;
    padding-top: 50px;
    vertical-align: center;
    font-family: 'Anton', sans-serif;
    color: white;
}

#blue-dot {
    background-color: #00ABA9;
    align-content: center;
    height:150px;
    width: 150px;
    display: inline-block;
    border-radius: 70%;
    border: white 8px solid;
    text-align: center;
    padding-top: 50px;
    vertical-align: center;
    font-family: 'Anton', sans-serif;
    color: white;
}

hr {
    display: none;
}

#work >img {
    width: 390px;
    height: auto;
    border: 10px solid #f0f0f0;
    border-radius: 4px;
}

#work {
    padding-top: 100px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    /*border: 4px solid white;*/
    /*border-radius: 4px;*/
}

#work1 {
    padding-bottom: 30px;
}
.dot2 {
    height:25px;
    width: 25px;
    display: inline-block;
    border-radius: 70%;

    text-align: center;
    vertical-align: center;
    font-family: 'Anton', sans-serif;

}

.project {
    font-family: 'Abel', sans-serif;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    margin-inline: 45px;
    padding-top: 5em;
    margin-top: 80px;

}

#red-f {
    background-color: #E6563B;
    margin-right: 10px;
}

#yellow-f {
    background-color: #EB9D3A;
    margin-right: 10px;

}

#green-f {
    background-color: #7CB06C;
    margin-right: 10px;
}

#blue-f {
    background-color: #00ABA9;
    margin-right: 10px;
}


#feature1 {
    display: flex;
    font-size: 20px;
    margin-right: 120px;
    margin-left: 5px;
}

/*#feature1 {*/
/*    display:flex;*/
/*    flex-direction: row;*/
/*    margin-top: 150px;*/
/*    font-family: 'Abel', sans-serif;*/

/*}*/
#red {
    background-color: #E6563B;
    margin-right: 10px;

}

#yellow{
    background-color: #EB9D3A;
    margin-right: 10px;
}

#green {
    background-color: #7CB06C;
    margin-right: 10px;
}

#blue {
    background-color: #00ABA9;
    margin-right: 10px;
}






/*CHANGE TO SMALL SCREEN SIZE*/

@media screen and (min-width:576px) {
body {
    background-color: #E6E6E6;
}

#mobdot {
    display: flex;
    flex-direction: row;
}







#red-dot {
    align-content: center;
    height:130px;
    width: 130px;
    display: inline-block;
    border-radius: 70%;
    border: white 8px solid;
    text-align: center;
    padding-top: 50px;
    vertical-align: center;
    font-family: 'Anton', sans-serif;
    color: white;

    margin: 5px;
}
#red-font{
    font-size: 25px;
}
#yellow-dot {
    margin: 5px;
    align-content: center;
    height:130px;
    width: 130px;
    display: inline-block;
    border-radius: 70%;
    border: white 8px solid;
    text-align: center;
    padding-top: 50px;
    vertical-align: center;
    font-family: 'Anton', sans-serif;
    color: white;
}

#yellow-font {
    font-size: 25px;
}

#green-dot {
    margin: 5px;
    align-content: center;
    height:130px;
    width: 130px;
    display: inline-block;
    border-radius: 70%;
    border: white 8px solid;
    text-align: center;
    padding-top: 50px;
    vertical-align: center;
    font-family: 'Anton', sans-serif;
    color: white;
}

#green-font {
    font-size: 25px;
}

#blue-dot {
    margin: 5px;
    align-content: center;
    height:130px;
    width: 130px;
    display: inline-block;
    border-radius: 70%;
    border: white 8px solid;
    text-align: center;
    padding-top: 50px;
    vertical-align: center;
    font-family: 'Anton', sans-serif;
    color: white;
}

#blue-font {
    font-size: 25px;
}

.dot{
    align-content: center;
    height:105px;
    width: 105px;
    display: inline-block;
    border-radius: 70%;
    border: white 8px solid;
    text-align: center;
    padding-top: 50px;
    vertical-align: center;
    font-family: 'Anton', sans-serif;
    color: white;

}
hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
    display: block;
    }
#work1 {
    padding-bottom: 50px;
    padding-top: 100px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    margin-top: -620px;
}

#work >img {
    display:none;
}

#work2 {
    font-size: 15px;
}

img {
    display: block;
    width: 290px;
    height: 190px;
    border: 10px solid #f0f0f0;
    border-radius: 4px;
}

#ipad {
    /*grid-area: 1 / 1 / 1 / 1;*/
}

#keyboard{
    display: block;
    /*width: 300px;*/
    /*height: 200px;*/
    /*border: 10px solid #f0f0f0;*/
    /*border-radius: 4px;*/
}



#guy{
    display: block;
    /*width: 300px;*/
    /*height: 200px;*/
    /*border: 10px solid #f0f0f0;*/
    /*border-radius: 4px;*/
}

#security {
    display: block;
    /*width: 300px;*/
    /*height: 200px;*/
    /*border: 10px solid #f0f0f0;*/
    /*border-radius: 4px;*/
}

#ipad {
    display: block;
    /*width: 300px;*/
    /*height: 200px;*/
    /*border: 10px solid #f0f0f0;*/
    /*border-radius: 4px;*/
}

.img-group {
    flex-direction: row;
    flex-wrap: wrap;
    display: inline-grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    grid-gap: 1em;
    margin-top: -660px;
    grid-column-gap: 3em;
    padding-left: 50px;

}


.dot3 {
    align-content: center;
    height:18px;
    width: 18px;
    display: inline-block;
    border-radius: 70%;
    text-align: center;
    vertical-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 12px;
    margin-top: 5px;

}


#red1 {
    background-color: #E6563B;
    /*align-content: center;*/
    /*height:18px;*/
    /*width: 18px;*/
    /*display: inline-block;*/
    /*border-radius: 70%;*/
    /*text-align: center;*/
    /*vertical-align: center;*/
    /*font-family: 'Anton', sans-serif;*/
    /*font-size: 12px;*/
    /*margin-top: 5px;*/
}

#yellow1 {
    background-color: #EB9D3A;
    /*align-content: center;*/
    /*height:18px;*/
    /*width: 18px;*/
    /*display: inline-block;*/
    /*border-radius: 70%;*/
    /*text-align: center;*/
    /*vertical-align: center;*/
    /*font-family: 'Anton', sans-serif;*/
    /*font-size: 12px;*/
    margin-left: 4px;
    /*margin-top: 5px;*/
}

#green1 {
    background-color: #7CB06C;
    /*align-content: center;*/
    /*height:18px;*/
    /*width: 18px;*/
    /*display: inline-block;*/
    /*border-radius: 70%;*/
    /*text-align: center;*/
    /*vertical-align: center;*/
    /*font-family: 'Anton', sans-serif;*/
    /*font-size: 12px;*/
    margin-left: 4px;
    /*margin-top: 5px;*/
}

#blue1 {
    background-color: #00ABA9;
    /*align-content: center;*/
    /*height:18px;*/
    /*width: 18px;*/
    /*display: inline-block;*/
    /*border-radius: 70%;*/
    /*text-align: center;*/
    /*vertical-align: center;*/
    /*font-family: 'Anton', sans-serif;*/
    /*font-size: 12px;*/
    margin-left: 4px;
    /*margin-top: 5px;*/
}

#red2{
        background-color: #E6563B;
        /*align-content: center;*/
        /*height:18px;*/
        /*width: 18px;*/
        /*display: inline-block;*/
        /*border-radius: 70%;*/
        /*text-align: center;*/
        /*vertical-align: center;*/
        /*font-family: 'Anton', sans-serif;*/
        /*font-size: 12px;*/
        /*margin-top: 5px;*/
        margin-left: 4px;
    }

#yellow2 {
    background-color: #EB9D3A;
    /*    align-content: center;*/
    /*    height:18px;*/
    /*    width: 18px;*/
    /*    display: inline-block;*/
    /*    border-radius: 70%;*/
    /*    text-align: center;*/
    /*    vertical-align: center;*/
    /*    font-family: 'Anton', sans-serif;*/
    /*    font-size: 12px;*/
          margin-left: 4px;
    /*    margin-top: 5px;*/
    /*}*/
}

#green2 {
        background-color: #7CB06C;
        /*align-content: center;*/
        /*height:18px;*/
        /*width: 18px;*/
        /*display: inline-block;*/
        /*border-radius: 70%;*/
        /*text-align: center;*/
        /*vertical-align: center;*/
        /*font-family: 'Anton', sans-serif;*/
        /*font-size: 12px;*/
        margin-left: 4px;
        /*margin-top: 5px;*/
    }

#blue2 {
        background-color: #00ABA9;
        /*align-content: center;*/
        /*height:18px;*/
        /*width: 18px;*/
        /*display: inline-block;*/
        /*border-radius: 70%;*/
        /*text-align: center;*/
        /*vertical-align: center;*/
        /*font-family: 'Anton', sans-serif;*/
        /*font-size: 12px;*/
        margin-left: 4px;
        /*margin-top: 5px;*/
    }

#red3 {
         background-color: #E6563B;
         /*align-content: center;*/
         /*height:18px;*/
         /*width: 18px;*/
         /*display: inline-block;*/
         /*border-radius: 70%;*/
         /*text-align: center;*/
         /*vertical-align: center;*/
         /*font-family: 'Anton', sans-serif;*/
         /*font-size: 12px;*/
         /*margin-top: 5px;*/
        margin-left: 4px;
     }

#yellow3 {
        background-color: #EB9D3A;
        /*align-content: center;*/
        /*height:18px;*/
        /*width: 18px;*/
        /*display: inline-block;*/
        /*border-radius: 70%;*/
        /*text-align: center;*/
        /*vertical-align: center;*/
        /*font-family: 'Anton', sans-serif;*/
        /*font-size: 12px;*/
        margin-left: 4px;
        /*margin-top: 5px;*/
    }

#green3 {
        background-color: #7CB06C;
        /*align-content: center;*/
        /*height:18px;*/
        /*width: 18px;*/
        /*display: inline-block;*/
        /*border-radius: 70%;*/
        /*text-align: center;*/
        /*vertical-align: center;*/
        /*font-family: 'Anton', sans-serif;*/
        /*font-size: 12px;*/
        margin-left: 4px;
        /*margin-top: 5px;*/
    }

#blue3 {
        background-color: #00ABA9;
        /*align-content: center;*/
        /*height:18px;*/
        /*width: 18px;*/
        /*display: inline-block;*/
        /*border-radius: 70%;*/
        /*text-align: center;*/
        /*vertical-align: center;*/
        /*font-family: 'Anton', sans-serif;*/
        /*font-size: 12px;*/
        margin-left: 4px;
        /*margin-top: 5px;*/
    }

#red4 {
        background-color: #E6563B;
        /*align-content: center;*/
        /*height:18px;*/
        /*width: 18px;*/
        /*display: inline-block;*/
        /*border-radius: 70%;*/
        /*text-align: center;*/
        /*vertical-align: center;*/
        /*font-family: 'Anton', sans-serif;*/
        /*font-size: 12px;*/
        /*margin-top: 5px;*/
        margin-left: 4px;
    }

#yellow4 {
        background-color: #EB9D3A;
        /*align-content: center;*/
        /*height:18px;*/
        /*width: 18px;*/
        /*display: inline-block;*/
        /*border-radius: 70%;*/
        /*text-align: center;*/
        /*vertical-align: center;*/
        /*font-family: 'Anton', sans-serif;*/
        /*font-size: 12px;*/
        margin-left: 4px;
        /*margin-top: 5px;*/
    }

#green4 {
    background-color: #7CB06C;
    /*    align-content: center;*/
    /*    height:18px;*/
    /*    width: 18px;*/
    /*    display: inline-block;*/
    /*    border-radius: 70%;*/
    /*    text-align: center;*/
    /*    vertical-align: center;*/
    /*    font-family: 'Anton', sans-serif;*/
    /*    font-size: 12px;*/
        margin-left: 4px;
    /*    margin-top: 5px;*/
    /*}*/
}

#blue4 {
        background-color: #00ABA9;
        /*align-content: center;*/
        /*height:18px;*/
        /*width: 18px;*/
        /*display: inline-block;*/
        /*border-radius: 70%;*/
        /*text-align: center;*/
        /*vertical-align: center;*/
        /*font-family: 'Anton', sans-serif;*/
        /*font-size: 12px;*/
        margin-left: 4px;
        /*margin-top: 5px;*/
    }

.dots {
    display: flex;
    flex-direction: row;
    font-size: 10px;
}

.feature2 {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    margin-right: 45px;
    margin-top: 5px;
}

/*.feature1 {*/
/*    display:none;*/
/*}*/

.project{
    display:none;
}
}

@media screen and (min-width:768px) {




.feature2 {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    margin-right: 75px;
    margin-top: 5px;
}

.img-group {
    display: inline-grid;
    grid-template-rows: 250px 250px;
    grid-template-columns: 290px 290px;


}


.right {
    display: inline-grid;
    grid-template-columns: 300px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
}


.right {
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
img {
    width: 270px;
    height: 160px;
}

.dot3 {
    align-content: center;
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 70%;
    text-align: center;
    vertical-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 12px;
    margin-top: 5px;
}

/*#last {*/
/*    grid-area: 1 / 3 / 1 / 3;*/
/*}*/

/*#security {*/
/*    grid-area: 2 / 2 / 2 / 2;*/
/*}*/

/*#keyboard {*/
/*    grid-area: 2 / 1 / 2 / 1;*/
/*}*/
















}