body {
    background-color: lightgray;
    display: grid;
    grid-template-rows: repeat(7,200px);
}

/*.jumbotron {*/
/*    background-image: url("logo.jpg");*/
/*    background-repeat: no-repeat;*/
/*   background-size: 105px 105px;*/
/*    grid-area: 1 / 1 / 1 / 1;*/
/*    align-content: center;*/
/*}*/

#logo >img{
    height: 105px;
    width: 105px;
}

#header1 {
    font-family: 'Abel', sans-serif;
    text-align: center;
}

#header2 {
    font-family: 'Anton', sans-serif;
    align-content: center;
}

#city {
    font-family: 'Anton', sans-serif;
}

.dot {
    height:100px;
    width: 100px;
    display: inline-block;
    border-radius: 70%;
    background-color: powderblue;
    border: white 6px solid;

}

#work >img {
    width: 300px;
    height: auto;
}

.dot2 {
    height:25px;
    width: 25px;
    display: inline-block;
    border-radius: 70%;
    background-color: powderblue;
}








@media screen and max-width:  {
    
}